// FONT
$main-font: "Roboto", sans-serif;

// TEXT-COLORS
// priority-text-color
$priority-text-color: #000000;
// secondary-text-color
$secondary-text-color: #ffffff;
// auxiliary-text-color
$auxiliary-text-color: #ff6b08;

// BACKGROUND-COLOR
// priority-background-color
$priority-background-color: #ffffff;
// secondary-background-color
$secondary-background-color: #f7f7f7;

// ACCENT-COLOR
$accent-color: #ff6b01;
