.scrollup {
    animation-duration: 1000ms;
    animation-iteration-count: 2;

    width: 60px;
    height: 60px;
    //opacity: 0.3;
    position: fixed;
    bottom: 200px;
    right: 68px;
    display: none;
    text-indent: -9999px;

    background: url(../images/icons/top-arrow-icon.png) no-repeat;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    .scrollup {
        right: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .scrollup {
        right: 220px;
        bottom: 200px;
    }
}
