<footer class="footer">
    <div class="containerX footer_container">
        <div class="bottom__footer">
            <p class="copyright">© 2021 | All Rights Reserved |&nbsp;</p>
        </div>
        <div class="developers">
            <p>Developed with</p>
            <svg class="footer__icon">
                <use href="./images/icons-sprite.svg#icon-heart">
                </use>
            </svg>
            <p>by&nbsp;</p>
            <a href="#~" class="team__modal">GoIT Students</a>
        </div>
    </div>
</footer>

<div class='teamModalBack teamModalIsHidden'>
    <div class='teamModalContainer containerX'>
        <i class="bi bi-x-diamond teamModalBtnClose"></i>
        <div class="team_list">
            <div class="teammate_info">
                <svg class="team-card-list-img">
                    <use href="./images/team.svg#icon-boy1">
                    </use>
                </svg>
                <p class="teammate_name"><a href="https://github.com/Kyle-Roman" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Kirill Romanenko</a></p>
                <p class="teammate_job">Team Leader</p>
            </div>
            <div class="teammate_info">
            <svg class="team-card-list-img">
                <use href="./images/team.svg#icon-girl1">
                </use>
            </svg>
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Scrum Master</p>
            </div>
            <div class="teammate_info">
            <svg class="team-card-list-img">
                <use href="./images/team.svg#icon-boy2">
                </use>
            </svg>
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Maksim Kisil</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                        <svg class="team-card-list-img">
                            <use href="./images/team.svg#icon-girl2">
                            </use>
                        </svg>
                <p class="teammate_name"><a href="https://github.com/shpachynska" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Viktoriya Shpachynska</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                            <svg class="team-card-list-img">
                                <use href="./images/team.svg#icon-boy3">
                                </use>
                            </svg>
                <p class="teammate_name"><a href="https://github.com/yaroslav-kulyk" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Yaroslav Kulyk</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                            <svg class="team-card-list-img">
                                <use href="./images/team.svg#icon-boy4">
                                </use>
                            </svg>
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Yura Bema</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                            <svg class="team-card-list-img">
                                <use href="./images/team.svg#icon-boy5">
                                </use>
                            </svg>
                <p class="teammate_name"><a href="https://github.com/nazarii-lozynskyi" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Nazarii Lozynskyi</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                    <svg class="team-card-list-img">
                        <use href="./images/team.svg#icon-girl3">
                        </use>
                    </svg>
                <p class="teammate_name"><a href="https://github.com/MarynaSavonenko" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Marina Savovenko</a></p>
                <p class="teammate_job">Developer</p>
            </div>
        </div>
    </div>
</div>