<header class="header header-home">
  <div class="container">
    <div class="wrapper">
      <h1 class="logo-img visually-hidden">Filmoteka</h1>
      <a class="logo link" id="logo" href="index.html">
        <img class="icon-film" src="./images/icons/logo.svg" alt="film frame" />
        <p>Filmoteka</p>
      </a>
      <nav class="navigation">
        <ul class="menu__list list">
          <li class="menu__item">
            <button type="button" class="menu__link js-menu__button current link" id="home">
              Home
            </button>
          </li>
          <li class="menu__item">
            <button type="button" class="menu__link js-menu__button link" id="my-library" data-modal-auth-open>
              My library
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="markup-wrapper">
      <form class="search-form form" id="search-form">
        <input type="text" name="search" autocomplete="off" placeholder="Search movies" class="search" />
        <button type="submit" id="search-button" class="button-search"></button>
      </form>
      <!-- Динамически рендерим разметку хэдэра для My library -->
      <div class="btn-container__library visually-hidden" id="btn-container__library">
        <ul class="btn-list list">
          <li class="btn-item">
            <button class="btn-liba button-watched watched-btn-js" id="btn-watched" type="submit">
              Watched
            </button>
          </li>
          <li class="btn-item">
            <button class="btn-liba button-queue queue-btn-js" id="btn-queue" type="submit">
              queue
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- THEME SWITCHER -->
    <input class="checkbox" type="checkbox" id="switch" />
    <div class="body-switcher">
      <div class="switcher-content">
        <!-- <p class="heading">Choose a style</p> -->
        <label for="switch" class="switcher-label">
          <div class="toggle"></div>
          <div class="names">
            <p class="light">Light</p>
            <p class="dark">Dark</p>
          </div>
        </label>
      </div>
    </div>
</header>