.load-more-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.load-more-btn {
  height: 40px;
  min-width: 120px;

  padding: 5px;

  border: none;
  border-radius: 3px;

  background-color: $accent-color;
  color: $secondary-text-color;

  cursor: pointer;

  &:hover {
    background-color: #ff944d;
  }
}

.load-more-btn.is-hidden {
  display: none;
}

.load-more-btn > .spinner.is-hidden {
  display: none;
}
